[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
rich = "*"
google-genai = "*"
logwise = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.12"
